target/
project/target/
project/project/
.bsp/
.metals/
.bloop/
.idea/
*.iml
.vscode/
.DS_Store
*.log
.jvmopts
metals.sbt
.scala-build/
out/
dist/
*.class
*.jar
!lib/*.jar
.history
.cache
.coursier/
.venv
